html,body,.container {
    height:100%;
}
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

li {
  list-style: none;
  margin: 15px auto;
}

.container {
    display:table;
    width: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0; /*set left/right padding according to needs*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header {
    background: green;
    height: 50px;
}

button {
  margin: 5px;
}

.row {
    height: 100%;
    display: table-row;
}
.col-xs-12 .col-md-8, .col-xs-6, .col-md-4{
    display: table-cell;
    float: none; /* thanks baxxabit */
}

.title {
  font-weight: bold;
}

.title span {
  color: #aaa;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin-top: 10px;
}

.board {
  border: 1px black solid;
}

.submitSurvey {

}

.newMessage {
  margin-top: 10px;
}

#messagesDiv {
    height: 100px;
    background-color: grey;
    padding: 5px 15px;
}
